{% extends "research_tracker/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Liste des Projets de Recherche</h2>
    <a href="{% url 'add_projet' %}" class="btn btn-primary mb-3">Ajouter un Projet</a>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de début</th>
                <th>Date de fin prévue</th>
                <th>Chef de projet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="projects-list">
            <!-- Les données seront insérées ici par JavaScript -->
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const accessToken = getCookie('access_token');

        if (accessToken) {
            fetch('/api/projets/', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${accessToken}`,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const projectsList = document.getElementById('projects-list');
                data.forEach(projet => {
                    const chefProjetNom = projet.chef_projet ? projet.chef_projet.nom : "indéfini";
                    const editUrl = "{% url 'edit_projet' '0' %}".replace('0', projet.id);
                    const deleteUrl = "{% url 'delete_projet' '0' %}".replace('0', projet.id);
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${projet.titre}</td>
                        <td>${projet.description}</td>
                        <td>${projet.date_debut}</td>
                        <td>${projet.date_fin_prevue}</td>
                        <td>${chefProjetNom}</td>
                        <td>
                            <a href="${editUrl}" class="btn btn-secondary">Modifier</a>
                            <a href="${deleteUrl}" class="btn btn-danger">Supprimer</a>
                        </td>
                    `;
                    projectsList.appendChild(row);
                });
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
        }
    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
{% endblock %}
